@using MudBlazor
@using RohanSpeechApp.RazorClassLibrary
@inherits LayoutComponentBase

<PageTitle>RohanSpeechApp</PageTitle>

<div class="page">

    <MudThemeProvider Theme="_theme"/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>



    <MudLayout>
        
        <AppBar></AppBar>

        <MudMainContent Class="mt-16 pa-5">
            @Body
        </MudMainContent>

    </MudLayout>

</div>

@code {
    private MudTheme _theme = new();
}