@using MudBlazor
@using RohanSpeechApp.RazorClassLibrary
@inherits LayoutComponentBase

<PageTitle>RohanSpeechApp</PageTitle>

<div class="page">

    <MudThemeProvider Theme="_theme"/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>



    <MudLayout>
        
        @if (authorized)
        {
            <AppBar></AppBar>

            <MudMainContent Class="mt-16 pa-5">
                @Body
            </MudMainContent>

        } else
        {
            <MudMainContent Class="mt-16 pa-5">
                <AuthComponent Authenticated=@Authenticated AuthPIN="1234"></AuthComponent>
            </MudMainContent>
        }


    </MudLayout>

</div>

@code {
    private MudTheme _theme = new();

    private bool authorized = false;

    private void Authenticated()
    {
        authorized = true;
        StateHasChanged();
    }
}