@using MudBlazor
@using RohanSpeechApp.RazorClassLibrary.StageOne

<div class="mt-10">
    @*<MudItem lg="2" md="2">
        <MudIcon Icon="@Icons.Material.Filled.KeyboardVoice" Size="Size.Small"></MudIcon>
    </MudItem>*@

    <MudToolBar >

        <MudSpacer></MudSpacer>

        <MudIcon Icon="@Icons.Material.Filled.KeyboardVoice" Style="height:100px; width:100px;" ></MudIcon>

        <MudSpacer></MudSpacer>
    </MudToolBar>

    <MudToolBar Class="mt-5">

        <MudSpacer></MudSpacer>

        <MudTextField @bind-Value=@TextValue Variant="Variant.Outlined" ReadOnly="true"></MudTextField>

        <MudSpacer></MudSpacer>
    </MudToolBar>


    <MudToolBar Class="mt-5">

        <MudSpacer></MudSpacer>

        <StartStopRecordingBar></StartStopRecordingBar>
        <MudSpacer></MudSpacer>
    </MudToolBar>
    
</div>


@code {
    public string TextValue { get; set; } = "Hello, this is a random text you should say";
}
