@using MudBlazor
@using RohanSpeechApp.RazorClassLibrary.StageOne

<h3>StageOne</h3>

<div>
    @*<MudItem lg="2" md="2">
        <MudIcon Icon="@Icons.Material.Filled.KeyboardVoice" Size="Size.Small"></MudIcon>
    </MudItem>*@

    <TextLayout Text="Hello, this is a random text you should say"></TextLayout>

    <StartStopRecordingBar></StartStopRecordingBar>
</div>


@code {

}
